/* font-family: 'Farro', sans-serif;
font-family: 'Francois One', sans-serif;
font-family: 'PT Sans', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Staatliches', cursive;
font-family: 'Tourney', cursive; */

.wrapper {
  padding-top: 20px;
  padding-bottom: 50px;
}

[class*='container'] {
  max-width: 1200px;
  margin: 0 auto;
}

/* -----header----- */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 2;
}

.header-content {
  position: fixed;
  width: 100%;
  height: 80px;
  left: 0;
  top: 0;
  z-index: 99;
}

.header-content::before {
  content: '';
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80%;
  background-color: #fff;
}

.header-links-list {
  display: flex;
}

.sub-cont {
  display: flex;
  align-items: center;
}

.lang {
  display: flex;
  align-items: center;
}

.lang-title {
  font-family: 'Tourney', cursive;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.04em;
  color: #000000;
}

.lang-link {
  margin-right: 50px;
}

.header-links-link-text {
  font-family: 'Staatliches', cursive;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: #000000;
}

.slash {
  margin-left: 10px;
  margin-right: 10px;
}

.content {
  padding-top: 120px;
}

.main {
  display: flex;
}

.sticky-img {
  margin-left: 300px;
  position: sticky;
  top: 65px;
  z-index: -1;
}

.sidebar {
  margin-right: 30px;
}

.nav {
  position: sticky;
  top: 65px;
}

.nav-link {
  font-family: 'Francois One';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #000000;
  border-bottom: 1px solid #bdbdbd;
  display: inline-block;
  margin-bottom: 70px;
}

.nav-list {
  width: 385px;
}
/*----------rework--------- */
section {
  margin-top: -760px;
}

.relativ {
  position: relative;
  top: 120px;
  width: 785px;
}
/* -----------------rework------------ */
