/* font-family: 'Farro', sans-serif;
font-family: 'Francois One', sans-serif;
font-family: 'PT Sans', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Staatliches', cursive;
font-family: 'Tourney', cursive; */

.wrapper {
  padding-top: 20px;
  padding-bottom: 50px;
}

[class*='container'] {
  max-width: 1200px;
  margin: 0 auto;
}

/* -----header----- */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 2;
}

.header-content {
  position: fixed;
  width: 100%;
  height: 80px;
  left: 0;
  top: 0;
  z-index: 99;
}

.header-content::before {
  content: '';
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80%;
  background-color: #fff;
}

.header-links-list {
  display: flex;
}

.sub-cont {
  display: flex;
  align-items: center;
}

.lang {
  display: flex;
  align-items: center;
}

.lang-title {
  font-family: 'Tourney', cursive;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.04em;
  color: #000000;
}

.lang-link {
  margin-right: 50px;
}

.header-links-link-text {
  font-family: 'Staatliches', cursive;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: #000000;
}

.slash {
  margin-left: 10px;
  margin-right: 10px;
}

.content {
  padding-top: 120px;
}

.main {
  display: flex;
}

.sticky-img {
  margin-left: 300px;
  position: sticky;
  top: 65px;
  z-index: -1;
}

.sidebar {
  margin-right: 30px;
}

.nav {
  position: sticky;
  top: 65px;
}

.nav-link {
  font-family: 'Francois One', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #000000;
  border-bottom: 1px solid #bdbdbd;
  display: inline-block;
  margin-bottom: 70px;
}

.nav-list {
  width: 385px;
}
/*----------rework--------- */

.relative {
  position: relative;
  top: 120px;
  width: 785px;
}
/* -----------------rework------------ */

.sections {
  margin-top: -760px;
  display: flex;
  flex-direction: column;
}

.section-title {
  display: block;
  font-family: 'Francois One', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 40px;
}
.section-title::before {
  content: '';
  display: block;
  width: 100px;
  border: 8px solid #000000;
}

.section-text {
  font-family: 'PT Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 48px;
  color: #000000;
}

.intro p,
.core p,
.react p,
.handling p {
  margin-bottom: 40px;
}

.intro p:last-child,
.core p:last-child,
.react p:last-child,
.handling p:last-child {
  margin-bottom: 70px;
}

.superscript {
  font-family: 'Farro', sans-serif;
  text-transform: capitalize;
  font-style: normal;
  font-weight: 300;
  font-size: 30px;
  line-height: 1;
  letter-spacing: 0.04em;
  color: #000000;
  margin-left: 10px;
}

.underline {
  text-decoration-line: underline;
}

.italic {
  font-style: italic;
}

.bold {
  font-weight: 700;
}

.bg {
  background-color: #dadada;
}
