/* font-family: 'Farro', sans-serif;
font-family: 'Francois One', sans-serif;
font-family: 'PT Sans', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Staatliches', cursive;
font-family: 'Tourney', cursive; */

.wrapper {
  padding-top: 20px;
  padding-bottom: 50px;
}

[class*='container'] {
  max-width: 1200px;
  margin: 0 auto;
}

/* -----header----- */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: relative;
  z-index: 2;
}

.header-content {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 99;
}

.header-content::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
}

.header-links-list {
  display: flex;
}

.sub-cont {
  display: flex;
  align-items: center;
}

.lang {
  display: flex;
  align-items: center;
}

.lang-title {
  font-family: 'Tourney', cursive;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.04em;
  color: #000000;
}

.lang-link {
  margin-right: 50px;
}

.header-links-link-text {
  font-family: 'Staatliches', cursive;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: #000000;
}

.slash {
  margin-left: 10px;
  margin-right: 10px;
}

.content {
  padding-top: 120px;
}

.main {
  display: flex;
}
